KAFKA_BROKERS=localhost:19092,localhost:29092,localhost:39092
KAFKA_TOPIC=workshop-jsonschema-topic
KAFKA_GROUP_ID=workshop-jsonschema-group
SCHEMA_REGISTRY_URL=http://localhost:18081
MESSAGE_TIMEOUT_MS=5000
AUTO_OFFSET_RESET=earliest
HTTP_PORT=3000
